@model IEnumerable<StockScraper.Models.HistoryOfStockInfo>

@{
    ViewBag.Title = "Index";
}

<h2>History of Stock Information</h2>
<br />
<p>To view history by stock, click on a specific stock symbol.</p>

<p>
    @Html.ActionLink("View History for a specific stock", "SeeHistoryOfSpecificStock", "HistoryOfStockInfoes")
</p>
<table class="table">
    <tr>
        <th>
            Symbol
        </th>
        <th>
            % Chg
        </th>
        <th>
            AvgVol
        </th>
        <th>
            Last
        </th>
        <th>
            Market Time
        </th>
        <th>
            Open
        </th>
        <th>
            High
        </th>
        <th>
            Low
        </th>
        <th>
            52-Wk High
        </th>
        <th>
            52-Wk Low
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Symbol)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PercentChange)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AverageVolume)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MarketTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OpenPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HighPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LowPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YearWeekHigh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YearWeekLow)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new {  id=item.StockId  }, new {  date=item.Date  }) 
    </td>
</tr>
}

</table>
