@model IEnumerable<StockScraper.Models.HistoryOfStockInfo>

@{
    ViewBag.Title = "Yahoo History";
}

<h2 class="pt-4 text-center" style="font-family: 'Quattrocento Sans', sans-serif; color: darkslateblue;">
    History of Yahoo Stock Information
</h2>
<p class="text-center" style="font-family: 'Quattrocento Sans', sans-serif; color: darkslateblue;">
    Click Symbol or Date to sort your results by Stock or by Scrape Date.
 </p>
<br/>
<table class="table table-striped" style="font-family: 'Quattrocento Sans', sans-serif;">
    <tr>
        <th>
            @Html.ActionLink("Symbol", "Index", new { sortOrder = ViewBag.SymbolSortParm })
        </th>
        <th>
            % Chg
        </th>
        <th>
            AvgVol
        </th>
        <th>
            Last
        </th>
        <th>
            Market Time
        </th>
        <th>
            Open
        </th>
        <th>
            High
        </th>
        <th>
            Low
        </th>
        <th>
            52-Wk High
        </th>
        <th>
            52-Wk Low
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Symbol)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PercentChange)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AverageVolume)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MarketTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OpenPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HighPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LowPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YearWeekHigh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YearWeekLow)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td> 

    </td>
</tr>
}

</table>
