@model IEnumerable<StockScraper.Models.WorldTradingData>

@{
    ViewBag.Title = "Index";
}

<h2 class="pt-4 text-center" style="font-family: 'Quattrocento Sans', sans-serif;">
    World Trading Data Pull with RestSharp
</h2>
<br />
<p class="text-center">
    @Html.ActionLink("Click Here to Get the Most Current Stock Update", "CallWTDApiForCurrentInfo", "WorldTradingDatas", new { @class = "btn btn-outline-secondary", id = "scraper", role = "button" })
</p>
<br />
<table class="table table-striped" style="font-family: 'Quattrocento Sans', sans-serif;">
    <tr>
        <th>
            Symbol
        </th>
        <th>
            Price
        </th>
        <th>
            Open
        </th>
        <th>
            High
        </th>
        <th>
            Low
        </th>
        <th>
            % Change
        </th>
        <th>
            Avg Vol
        </th>
        <th>
            Date
        </th>
     
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }

</table>
