@model IEnumerable<StockScraper.Models.CurrentStockInfo>

@{
    ViewBag.Title = "Yahoo Stocks";
}

<h2 class="pt-4 text-center" style="font-family: 'Quattrocento Sans', sans-serif; color: darkslateblue;">
    Yahoo Stock Portfolio
</h2>
<br />
<p class="text-center">
    @Html.ActionLink("Click Here to Get the Most Current Stock Update", 
    "ScrapeYahooForCurrentInfo", 
    "CurrentStockInfoes", 
    new { @class = "btn btn-outline-secondary", id = "scraper", role = "button" })
</p>


<table class="table table-striped" style="font-family: 'Quattrocento Sans', sans-serif;">
    <tr>
        <th>
            Symbol
        </th>
        <th>
            % Chg
        </th>
        <th>
            AvgVol
        </th>
        <th>
            Last 
        </th>
        <th>
            Market Time
        </th>
        <th>
            Open
        </th>
        <th>
            High
        </th>
        <th>
            Low
        </th>
        <th>
            52-Wk High
        </th>
        <th>
            52-Wk Low
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PercentChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageVolume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarketTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HighPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LowPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearWeekHigh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearWeekLow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
    </tr>
}

</table>


